{% include 'base.html' %}
{% load static %}
<div class="container">
    <div class="mt-5 mb-5" style="width:100%;height:400px">
        <img src="{% static 'aboutus.png' %}"style="width:100%;height: 400px;">
    </div>
    <div>
        <p>Bike seller project is designed for customers who are seeking the informations of different  bikes with different brand names and types.If any customer likes the bike who can buy the specified bike from this project.This project is developed only for educational purposes.In this project there is implemented razorpay  payment gateway.There are two modules admin module and user module.  </p>
    </div>
</div>