{% include 'base.html' %}
{% block body %}
<div class="container mt-3">
    <form method="post">
        
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div style="color:red">{{message}}</div>
        {% endfor %}
        {% endif %}
        <div class="row mt-2">
            <!-- <div class="col-md-6">
                <label class="form-control">Current password</label>
            </div> -->
            <div class="col-md-12">
                <input type="password"placeholder="Current Password" class="form-control"name="pwd">
            </div>
        </div>
        <div class="row mt-2">
            <!-- <div class="col-md-6">
                <label class="form-control"> New password</label>
            </div> -->
            <div class="col-md-12 ">
                <input type="password"placeholder="New Password" class="form-control"name="npwd">
            </div>
        </div>
        <div class="row mt-2">
            <!-- <div class="col-md-6">
                <label class="form-control">Confirm password</label>
            </div> -->
            <div class="col-md-12">
                <input type="password"placeholder="Confirm Password" class="form-control"name="cpwd">
            </div>
        </div>
        <input type="submit"class="btn btn-info mt-3 btn-lg">            
    </form>
    {% ifequal error "no" %}
    <script>
        alert('Password changed successfully');
        window.location=('{% url 'login' %}');
    </script>
    {% endifequal %}

</div>
{% endblock %}
