{% load static %}
{% include 'base.html' %}
{% block body %}
<body>
    <form method="post"action="login"class="mt-5">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="email" class="form-control"placeholder="Enter your email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>password</label>
                    <input type="password" class="form-control" placeholder="Enter your password here" name="password">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <button type="submit"class="btn btn-primary">Login</button> <a href="{% url 'register' %}"class="btn btn-primary ml-2 text-white">create an account</a>
                </div>
            </div>
        </div>
    </form>
    {% ifequal error "yes" %}
    <script>
        alert('invalid credentials')
    </script>
    {% endifequal %}
      
</body>
{% endblock %}